setuptools
-egit+git@gitlab.idiap.ch:bob/bob.extension.git#egg=bob.extension
bob.extension
-egit+git@gitlab.idiap.ch:bob/bob.blitz.git#egg=bob.blitz
bob.blitz
-egit+git@gitlab.idiap.ch:bob/bob.core.git#egg=bob.core
bob.core
-egit+git@gitlab.idiap.ch:bob/bob.io.base.git#egg=bob.io.base
bob.io.base
-egit+git@gitlab.idiap.ch:bob/bob.io.image.git#egg=bob.io.image
bob.io.image
-egit+git@gitlab.idiap.ch:bob/bob.io.video.git#egg=bob.io.video
bob.io.video
-egit+git@gitlab.idiap.ch:bob/bob.db.base.git#egg=bob.db.base
bob.db.base
-egit+git@gitlab.idiap.ch:bob/bob.bio.base.git#egg=bob.bio.base
bob.bio.base
-egit+git@gitlab.idiap.ch:bob/bob.bio.spear.git#egg=bob.bio.spear
bob.bio.spear
